
<div class="searchContainer">
<video width="500" height="240" autoplay loop id="bgvid">
    <source src="../assets/mainImg.mp4" type="video/mp4">
</video>
<div class="buyTextbooks">
	<h3>Buy your Textbooks</h3>
		<h1>Save a bundle.</h1>
		<!-- <input class="searchInput" type="text" placeholder="Enter textbook title, ISBN, or author"> -->
	<!-- 	<iframe src="http://astore.amazon.com/textyz-20" width="60%" height="1000" frameborder="0" scrolling="no"></iframe> -->
	</div>
</div>
<div class="firstContainer">
	<h2>We saved students</h2>
	<h2>Over $20,000.00</h2>
	<h4>in the last month</h4>
	<div class="saved">
	<p>Whether you're looking for a break from bookstore prices, support for your upcoming exam, or ways to get extra cash by selling your used stuff, you can always turn to us. Save up to 90% off textbooks you need for school and up to 90% off the music, movies, and video games that keep you relaxed between study sessions.</p>
	</div>
</div>
<div class="secondContainer">
	<h1>Featured books</h1>
	<button type="button" class="btn btn-sm btn-success">See all</button>
</div>

<div class="thirdContainer">
	<h2>Our mission</h2>
	<h3>Making education more affordable for students</h3>
	<div class="mission">
	<p>We compare millions of products from thousands of sellers, rental providers, and buyers—all competing with one another to offer you the best product at the best price. That means you and your wallet always win. Plus we don't house the books ourselves and our overhead costs are low, which means we can pass our savings on to you.</p>
	</div>
</div class="fourthContainer">
<div class="fifthContainer">
	<h1>Our Customers</h1>
</div>